<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Zarządzanie Opcjami</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Lista produktów</h2>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>id opcji</th>
                        <th>nazwa</th>
                        <th>domyślna</th>
                        <th>cena </th>
                        <th>uaktualnij</th>
                        <th>usuń</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="option : ${options}">
                        <td th:text="${option.id}"></td>
                        <td><input type="text" th:value="${option.name}" /></td>
                        <td><input type="checkbox" th:checked="${option.isDefault} == true" /></td>
                        <td><input type="number"  min="0" th:value="${option.price}" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <h2>Dodaj opcję</h2>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>nazwa</th>
                            <th>cena</th>
                            <th>produkt</th>
                            <th>grupa</th>
                            <th>dodaj</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text"/></td>
                            <td><input type="number" min="0"/></td>
                            <td><select >
                                    <option th:each="product : ${products}"
                                            th:value="${product.id}"
                                            th:text="${product.name}"/>
                                </select>
                            <td>
                                <select >
                                    <option th:each="group : ${groups}"
                                            th:value="${group.id}"
                                            th:text="${group.name}"/>

                                </select>
                            </td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <a href="admin">Powrót</a>
        </div>
    </body>
</html>
