<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Zarządzanie Grupami</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Lista grup</h2>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>id grupy</th>
                        <th>nazwa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="group : ${groups}">
                <form action="#" th:action="@{/adminGroup/update}" th:object="${newGroup}" method="post">
                    <td th:text="${group.id}"></td>
                    <input type="hidden" th:value="${group.id}" id="id" name="id"/>
                    <td><input type="text" th:value="${group.name}" id="name" name="name"/></td>
                    <td><button type="submit" name="updateGroup/">Update</button></td>
                </form>
                <!--td><form action="#" th:action="@{/admiGroup/remove}" th:object="${group}" method="post">
                        <input type="hidden" th:value="${group.id}" id="id" name="id"/>
                        <button type="submit" name="deleteGroup/">Delete</button>
                    </form></td-->
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <h2>Dodaj grupę</h2>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>nazwa</th>
                            <th>dodaj</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                    <form action="#" th:action="@{/adminGroup/create}" th:object="${newGroup}" method="post">
                        <td><input type="text" th:field="${newGroup.name}"/></td>
                        <td>
                            <button type="submit" name="addGroup/" >Create</button>
                        </td>
                    </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <center><a href="admin">Powrót do panelu głównego</a></center>
        </div>
    </body>
</html>
