<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Konfigurator Produktu</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
        <div class="jumbotron">
            <h1>Lista Konfigurowalnych Produktów</h1>
        </div>
        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Id</th>
                        <th>Nazwa Produktu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${products}">
                        <td th:text="${product.id}">1</td>
                        <td><a th:href="@{product?id=} + ${product.id}" th:text="${product.name}">Name ...</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>